########################################################################################################################
# Happy Hare MMU Software
#
# EDIT THIS FILE BASED ON YOUR SETUP
#
# Copyright (C) 2022-2025  moggieuk#6538 (discord)
#                          moggieuk@hotmail.com
# This file may be distributed under the terms of the GNU GPLv3 license.
#
# Goal: Happy Hare MMU hardware pin config
#
# (\_/)
# ( *,*)
# (")_(") Happy Hare Ready
#
#
# This contains aliases for pins for MCU type MMB20
#
[mcu mmu]
canbus_uuid:914a339e2ef0


# PIN ALIASES FOR MMU MCU BOARD ----------------------------------------------------------------------------------------
# ██████╗ ██╗███╗   ██╗     █████╗ ██╗     ██╗ █████╗ ███████╗
# ██╔══██╗██║████╗  ██║    ██╔══██╗██║     ██║██╔══██╗██╔════╝
# ██████╔╝██║██╔██╗ ██║    ███████║██║     ██║███████║███████╗
# ██╔═══╝ ██║██║╚██╗██║    ██╔══██║██║     ██║██╔══██║╚════██║
# ██║     ██║██║ ╚████║    ██║  ██║███████╗██║██║  ██║███████║
# ╚═╝     ╚═╝╚═╝  ╚═══╝    ╚═╝  ╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝
# Section to create alias for pins used by MMU for easier integration into Klippain and RatOS. The names match those
# referenced in the mmu_hardware.cfg file. If you get into difficulty you can also comment out this aliases definition
# completely and configure the pin names directly into mmu_hardware.cfg. However, use of aliases is encouraged.

# Note: that aliases are not created for TOOLHEAD_SENSOR, EXTRUDER_SENSOR or SYNC_FEEDBACK_SENSORS because those are
# most likely on the printer's main mcu. These should be set directly in mmu_hardware.cfg
#
[board_pins mmu]
mcu: mmu # Assumes using an external / extra mcu dedicated to MMU
aliases:
    MMU_GEAR_UART=PB2,
    MMU_GEAR_STEP=PD10,
    MMU_GEAR_DIR=PD11,
    MMU_GEAR_ENABLE=PD9,
    MMU_GEAR_DIAG=PE15,

    MMU_GEAR_UART_1=PD13,
    MMU_GEAR_STEP_1=PD14,
    MMU_GEAR_DIR_1=PD15,
    MMU_GEAR_ENABLE_1=PA13,
    MMU_GEAR_DIAG_1=PD12,

    MMU_GEAR_UART_2=PC14,
    MMU_GEAR_STEP_2=PE6,
    MMU_GEAR_DIR_2=PE5,
    MMU_GEAR_ENABLE_2=PE4,
    MMU_GEAR_DIAG_2=PC15,

    MMU_GEAR_UART_3=PA14,
    MMU_GEAR_STEP_3=PC13,
    MMU_GEAR_DIR_3=PA15,
    MMU_GEAR_ENABLE_3=PC10,
    MMU_GEAR_DIAG_3=PE3,

 
    MMU_ENCODER=PA7,
    MMU_GATE_SENSOR=PC5,
    MMU_NEOPIXEL=PA2, #PA2

    MMU_PRE_GATE_0=PE11,
    MMU_PRE_GATE_1=PB1,
    MMU_PRE_GATE_2=PA0,
    MMU_PRE_GATE_3=PA4,
    MMU_PRE_GATE_4=,
    MMU_PRE_GATE_5=,
    MMU_PRE_GATE_6=,
    MMU_PRE_GATE_7=,
    MMU_PRE_GATE_8=,
    MMU_PRE_GATE_9=,
    MMU_PRE_GATE_10=,
    MMU_PRE_GATE_11=,

    MMU_POST_GEAR_0=PE10,
    MMU_POST_GEAR_1=PE7,
    MMU_POST_GEAR_2=PA1,
    MMU_POST_GEAR_3=PA3,
    MMU_POST_GEAR_4=,
    MMU_POST_GEAR_5=,
    MMU_POST_GEAR_6=,
    MMU_POST_GEAR_7=,
    MMU_POST_GEAR_8=,
    MMU_POST_GEAR_9=,
    MMU_POST_GEAR_10=,
    MMU_POST_GEAR_11=,

    #MMU_ESPOOLER_RWD_0=,
   #MMU_ESPOOLER_FWD_0=,
    #MMU_ESPOOLER_EN_0=,
    #MMU_ESPOOLER_TRIG_0=,
    #MMU_ESPOOLER_RWD_1=,
    #MMU_ESPOOLER_FWD_1=,
    #MMU_ESPOOLER_EN_1=,
    #MMU_ESPOOLER_TRIG_1=,
    #MMU_ESPOOLER_RWD_2=,
    #MMU_ESPOOLER_FWD_2=,
    #MMU_ESPOOLER_EN_2=,
    #MMU_ESPOOLER_TRIG_2=,
    #MMU_ESPOOLER_RWD_3=,
    #MMU_ESPOOLER_FWD_3=,
    #MMU_ESPOOLER_EN_3=,
    #MMU_ESPOOLER_TRIG_3=,

    EJECT_BUTTON_0=PB14,
    EJECT_BUTTON_1=PD8,
    EJECT_BUTTON_2=PB12,
    EJECT_BUTTON_3=PE14,